.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main__header {
  display: flex;
  align-items: center;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  border-bottom: 1px solid #e8e8e8;
}

.header__section {
  display: flex;
  align-items: center;
}

.header__brand {
  display: flex;
  align-items: center;

}

.brand__icon {
  display: flex;
  margin-right: 10px;
}

.brand__text {
  font-weight: bold;
}

.main__footer {

}

.main__content {
  padding: 20px 50px;
}

.ant-menu-horizontal {
  border-bottom: none;
}
