@import '~antd/dist/antd.css';

.landing {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(40deg, #4ecdc4, #6a8090);
}
.main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .78);
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}
h1, h2, h3 {
    margin: 0;
}

.typewriter-paragraph {
    margin-bottom: 60px;
    font-family: 'Text Me One', sans-serif;
    font-size: 16px;
    line-height: 1.25em;
    font-weight: 200;
    text-align: justify;
}

.main__centered-section {
    width: 25%;
    font-family: 'Changa One', Impact, sans-serif;
    color: #fff;
    text-align: center;
}

.background-video {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.body {
    font-family: 'Text Me One', sans-serif;
}

.text-block {
    font-family: 'Text Me One', sans-serif;
    font-size: 18px;
    line-height: 1.5em;
}

.button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-height: 100%;
    padding: 14px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border: 0.2px solid #fff;
    -webkit-transition: all 858ms ease;
    transition: all 858ms ease;
    cursor: pointer;
}

.button:hover {
    background-color: hsla(0, 0%, 100%, .09);
}

.button.disabled {
    max-height: 1px;
    padding-top: 0px;
    padding-bottom: 1px;
}

.button__text {
    display: none;
    font-family: Exo, sans-serif;
    font-size: 50px;
    line-height: 1.2em;
    font-weight: 900;
}

.button__icon {
    display: none;
    margin: 10px;
    font-size: 35px;
}

.input-field {
    font-family: Exo, sans-serif;
    color: #fff;
    font-size: 16px;
    line-height: 2em;
    letter-spacing: 0.3em;
    text-transform: uppercase;
}

.input-field.invalid {
    color: hsla(0, 0%, 100%, .47);
}

.viz-footer {
    position: fixed;
    bottom: 0px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 10%;
}

.viz-footer__slider {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    height: 100%;
    padding-right: 1vmin;
    padding-left: 5vmin;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.viz-footer__add-event {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 10vh;
    height: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.viz-circle-button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    height: 50%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50%;
    background-color: #353846;
    -webkit-transition: -webkit-transform 200ms ease;
    transition: -webkit-transform 200ms ease;
    transition: transform 200ms ease;
    transition: transform 200ms ease, -webkit-transform 200ms ease;
    color: #fff;
    cursor: pointer;
}

.viz-circle-button:hover {
    -webkit-transform: scale(1.25);
    -ms-transform: scale(1.25);
    transform: scale(1.25);
}

.image {
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -1;
    width: 100vw;
    height: 100vh;
}

.main-copy {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .78);
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.viz-main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100vh;
    padding-right: 16vh;
    padding-left: 16vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: linear-gradient(40deg, #4ecdc4, #6a8090);
    opacity: 1;
}

.viz-main__main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 80vh;
    background-color: #353846;
    box-shadow: 0 16px 26px -12px #000;
}

.big-bubble {
    /* r: 5; */
    cursor: pointer;
    fill: #FFC923;
    transition: all ease .2s;
}

.big-bubble:hover, .big-bubble.is-active {
    r: 20;
}
.has-exits {
    fill: #ff0046 !important;
}
.recharts-tooltip-wrapper {
    border: 0;
    border-radius: 20px;
}
.has-seeds {
    fill: #4ecdc4;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #353846;
    cursor: pointer;
}
.logo__icon {
    margin-right: 10px;
}

.logo-bold {
    font-weight: bold;
}
.recharts-legend-wrapper {
    display: none;
}
.ant-slider-track {
    background-color: #FFC923;
}
.ant-slider:hover .ant-slider-track {
    background-color: #FFC923;
}
.ant-slider-handle {
    border: none;
}
.viz-main__main__main {
    flex: 1;
    box-shadow: -1px 0 4px 0 rgba(0, 0, 0, .53);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.viz-main__main__main, .viz-main__main__sidebar {
    height: 80vh;
}

.viz-main__main__sidebar {
    background: white;
    display: block;
    width: 24vw;
    min-width: 30vh;
}

.viz__org-logo {
    padding: 15px;
}

.viz-header {
    position: fixed;
    top: 0px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 10vh;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.heading {
    color: #fff;
}

.header__menu__logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 5vh;
    margin-bottom: 10px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
}

.header__menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 10vh;
    padding-top: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.header__menu__nav {
    height: 5vh;
}

.div-block {
    padding-top: 20px;
    display: flex;
    background-color: white;
}

.heading-2 {
    margin-top: 0px;
    font-family: 'Open Sans', sans-serif;
    color: #353846;
    line-height: 36px;
    font-weight: 700;
}

.div-block-2 {
    display: flex;
    align-items: center;
    flex: 1;
}

.body-2 {
    font-family: 'Open Sans', sans-serif;
}

.text-block-2 {
    color: #52c1bc;
    font-size: 10px;
    font-weight: 700;
    text-align: left;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.div-block-3 {
    padding-top: 20px;
    padding-bottom: 0px;
    padding-left: 20px;
}

.heading-3 {
    margin-top: 0px;
    /* color: white; */
    font-size: 26px;
    font-weight: 300;
}

.div-block-4 {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

@media (max-width: 991px) {
    .typewriter-paragraph {
        font-size: 14px;
    }
    .main__centered-section {
        width: 50%;
    }
    .text-block {
        font-size: 17px;
    }
}

@media (max-width: 767px) {
    .typewriter-paragraph {
        font-size: 12px;
    }
    .main__centered-section {
        width: 66%;
    }
    .text-block {
        font-size: 16px;
    }
}

@media (max-width: 479px) {
    .main__centered-section {
        width: 80%;
    }
    .text-block {
        font-size: 14px;
    }
}
